<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/css/All")
    <title>Manane Project | Dev99</title>

</head>

<body>
    <div id="wrapper">
        @Html.Action("renderHeader", "TimeStart")
        <!-- #region Header -->
        @*<div class="header">
            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-lg-between align-items-center">
                <div>
                    <a class="navbar-brand" href="#">Quản lí đồ án</a>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 flex-lg-grow-0">
                        
                    <ul class="navbar-nav mt-2 mt-lg-0 align-items-center">

                        <li class="nav-item dropdown" id="user">
                            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="~/Content/asset/public/Image/profile.png" alt="User avatar" width="30">

                            </a>
                            <div class="dropdown-menu dropdown-menu-right custom-dropdown" aria-labelledby="profile">
                                <a class="dropdown-item d-flex align-items-center mb-1 px-3" href="#">
                                    <span class="mr-2"><i class="fas fa-user "></i></span>
                                    <div class="content">Profile</div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center mb-1 px-3 dropdown-hover" href="#">
                                    <span class="mr-2"><i class="fas fa-chart-bar "></i></span>
                                    <div class="content">Đồ án của tôi</div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center mb-1 px-3 dropdown-hover" href="#">
                                    <span class="mr-2"><i class="fas fa-chart-bar "></i></span>
                                    <div class="content">Tạo cáo báo tiến độ</div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center mb-1 px-3" href="#">
                                    <span class="mr-2"><i class="fa fa-cog "></i></span>
                                    <div class="content">Setting</div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center mb-1 px-3" href="#">
                                    <span class="mr-2"><i class="fas fa-question-circle "></i></span>
                                    <div class="content">Help</div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex align-items-center mb-1 px-3" href="#">
                                    <span class="mr-2"><i class="fas fa-power-off    "></i></span>
                                    <div class="content">Log out</div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>*@
        <!-- #endregion -->
        <div class="content">
            <div class="main pl-0">
                <div class="content-box">
                    <div>@RenderBody()</div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js/All")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu > a').on("click", function (e) {
                var submenu = $(this);
                $('.dropdown-submenu .dropdown-menu').removeClass('show');
                submenu.next('.dropdown-menu').addClass('show');
                e.stopPropagation();
            });

            $('.dropdown').on("hidden.bs.dropdown", function () {

                $('.dropdown-menu.show').removeClass('show');
            });
        });
    </script>
</body>

</html>