
@model Project2.Core.Models.Entities.Project
@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        @if (Model == null)
        {
            <div class="project-box m-4">
                <div class="title">Tên đồ án</div>
                <div style="color: red">Dữ liệu trống</div>
            </div>

        }
        else
        {
            <div class="project-box m-4">
                <div class="title">@Model.name</div>
                <div class="time">Ngày bắt đầu @Model.time_Start.start_at</div>
                <div class="time">Ngày kết thúc @Model.time_Start.end_at</div>
                <div class="require mb-4">
                    @Html.Raw(Model.require)
                </div>
                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#modifyReport">Tạo báo cáo</button>
            </div>
        }
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="report-box m-4">
            <div class="title">Danh mục báo cáo tiến độ</div>
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tiêu đề</th>
                        <th style="text-align: right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 0;
                    }
                    @if (Model == null)
                    {
                        <tr>
                            <td colspan="3" style="color: red">Dữ liệu trống...</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.Reports)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@item.title</td>
                                <td align="right">
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modifyReport"><i class="fas fa-pen"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm" onclick="removeReport(@item.id)"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    }




                </tbody>
            </table>
        </div>
    </div>
</div>