@model List<Project2.Core.Models.Entities.Report>
@{ 
    Layout = null;
}
<thead>
    <tr>
        <th>#</th>
        <th>Tên đồ án</th>
        <th>Sinh viên đăng ký</th>
        <th>Tiêu đề</th>
        <th>Ngày lập</th>
        <th>Trạng thái</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="7" style="color: red;">Dữ liệu trống...</td>
        </tr>
    }
    else
    {
        int index = 0;
        foreach (var item in Model)
        {
            index++;
            <tr>
                <td>@index</td>
                <td>@item.Project.name</td>
                <td>@item.Project.GuestStudent.Full_name</td>
                <td>@item.title</td>
                <td>@item.create_at</td>
                <td>
                    @(item.isSeen ?  "Đã xem" : "Chưa xem" )
                </td>
                <td>
                    @if (item.isSeen)
                    {
                        <button type="button" class="btn btn-success btn-sm btn-unable" disabled><i class="fas fa-check"></i></button>
                    }
                    else
                    {
                        <button type="button" onclick="changeStatus(@item.id)" class="btn btn-success btn-sm"><i class="fas fa-check"></i></button>
                    }
                    <a href="#" class="text-white btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
        }

    }

</tbody>